[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/project/Backend-Rezang/backendARealu
ExecStart=/home/ubuntu/project/Backend-Rezang/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
            backendARealu.wsgi:application

[Install]
WantedBy=multi-user.target